* {
  padding: 0;
  margin: 0;
}

.error {
  width: 30%;
  border: 1px solid #a94442;
  color: #a94442;
  background-color: #f2dede;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  font-size: 18px;
}

body {
  background-color: #aaa;
}

.main_content {
  display: flex;
  flex-flow: row wrap;
  /* overflow: visible; */
}

.left-side_nav {
  width: 20%;
  background-color: inherit;
  padding-top: 10px;
  /* padding-bottom: 100px; */
}

.left-side_nav ul {
  width: 100%;
  list-style-type: none
}

.left-side_nav ul li {
  border-bottom: 1px solid #fefefe;
  font-size: 22px;
  padding: 20px 0 5px 5px;
  cursor: pointer;
  position: relative;
}
.left-side_nav li a {
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
  color: #0e0e0eba;
}

.left-side_nav li:hover {
  background-color: #000000;
}

.left-side_nav li:hover a {
  color: #aaa;
}

.left-side_nav .active {
  background-color: #0e0e0eba;
}

.left-side_nav .active a {
  color: #a3a4a9;
}

.right_side {
  width: 80%;
  height: auto;
  background-size: cover;
  background-color: #f3f3f3;
}

.input-info select {
  padding-right: 200px;
  font-size: 20px;
}
