.right_side_container {
  border: 1px solid #ccc;
  border-top: none;
}

.right_side_container form {
  width: 70%;
  margin: auto;
}


.input-info {
  width: 100%
  padding: 5px 0;
}
.right_side_container div label {
  font-variant: small-caps;
  font-size: 20px;
  line-height: 20px;
  display: block;
  font-weight: bold;
}


.input-info input[type="text"],
.input-info input[type="date"],
.input-info input[type="email"]  {
  font-size: 20px;
  line-height: 20px;
}

.input-info input[type="text"],
.input-info input[type="email"] {
    padding: 0 150px 0 2px;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  background-color: #5F9EA0;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
